extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Non arcu risus quis varius. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Porta lorem mollis aliquam ut. Eget est lorem ipsum dolor sit. Habitant morbi tristique senectus et. Viverra suspendisse potenti nullam ac. Ultricies integer quis auctor elit.
                p Porttitor leo a diam sollicitudin. Euismod in pellentesque massa placerat duis. Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Sapien pellentesque habitant morbi tristique senectus et netus et. 
                p Nulla facilisi nullam vehicula ipsum a arcu cursus. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Quis auctor elit sed vulputate. Quis ipsum suspendisse ultrices gravida dictum. Fames ac turpis egestas maecenas pharetra convallis posuere.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
